##### Python Data Structures & Boolean

Booleans Variables

Boolean are two constant objects (Flase & True)

+ In Numeric context , when we use an argument to an 
arithmetic operator they act like integers 0 and 1 ,

while 1 represent yes and 0 represent false

In [1]:
print(True,False)

True False

In [2]:
type(True)

bool

In [3]:
type(False)

bool

In [4]:
# Using bool() in different methods
my_name = "Khan"

In [5]:
print(my_name.isalnum())#to see if all char are aphanumeric
print(my_name.isalpha())# to see if all char in the string are alphabetic
print(my_name.isdigit())# to see if all  the char in string are digits
print(my_name.isupper())#to see if all the char are uppercase
print(my_name.islower())#to see if all the char are lowercase
print(my_name.isspace())#to see if all the char contrain space
print(my_name.endswith('n'))# to see if the last alphabet is n
print(my_name.endswith('d'))# to see if the last alphabet is d
print(my_name.startswith('n'))# to see if the last alphabet is n

True
True
False
False
False
False
True
False
False

In [6]:
name= "KHAN"
print(name.isupper())

True

##### Boolean & Logical Operators

In [7]:
True and False

False

In [8]:
True and True

True

In [9]:
False and True

False

In [10]:
False and False

False

In [11]:
True or False

True

In [12]:
False or True

True

In [13]:
# Forexample
first_name = "Muhammad"
last_name = "khan"

In [14]:
first_name.isalpha() and last_name.isdigit()

False

In [15]:
first_name.isalpha() or last_name.isnum()

True

#### Lists

+ a is mutable or changebale , ordered sequence of elements

each element or value that is in the list is called item .

it is denoted by [ ]

my_name = []

In [16]:
type(my_name)

str

In [17]:
lst = [] #creat an empty list

In [18]:
lst = ["khan","newyork",1,3,4,5,5] #putting items in lst
type(lst) #checking type pf lst

list

In [19]:
print(lst) # display print all items of lst

['khan', 'newyork', 1, 3, 4, 5, 5]

#### Append

In [20]:
# .append method is use for adding elements in to the list
list = ["khan",23]
list.append("Muhammad")

In [21]:
print(list)
# it will append (add)element into the end of list

['khan', 23, 'Muhammad']

In [22]:
#### Indexing
list2 = ["jenny",45,56,"david"]
list2[2]

56

In [23]:
list2[0]

'jenny'

In [24]:
list2[-1]

'david'

In [25]:
list2[3]

'david'

#### Insert

In [26]:
# .insert is used for inserting an element or item on specific index or place
my_list = ["ahmad","sara",233,34]
my_list.insert(1,"jennifer")
print(my_list)
# we saw that it comes on the second position because we give it index 1 position

['ahmad', 'jennifer', 'sara', 233, 34]

In [27]:
my_list.insert(4,"alex")
print(my_list)

['ahmad', 'jennifer', 'sara', 233, 'alex', 34]

#### list into list (Nested list)

In [28]:
# we will creat a list and add another list into it 
my_course = ["physics","chemistry"] # we created a list
type(my_course) # lets check type offource it will be a list because we use [Â ]

list

In [29]:
#lets add another list into it
my_course.append(["math,biology"])

In [30]:
#lets see 
print(my_course) #this is called nested list means making list into list

['physics', 'chemistry', ['math,biology']]

In [31]:
#lets add element into this list now
# we will use .insert function
my_course.insert(0,"calculus")

In [32]:
print(my_course) # we see in inset we use indexing positions where 0 is index and we put
# calculus at 0 position

['calculus', 'physics', 'chemistry', ['math,biology']]

#### Extend Mthod

In [33]:
# in this function .extend it will extednd the element  in to the list but ignore 
#its list form of nested list forexample
llist = [1,2,3,4,5,6]

In [34]:
llist.extend([7,8,9])

In [35]:
print(llist) # we saw that it not creat nested list |7,8,9] into llist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Different Operations for List

In [36]:
lst = [1,2,3,4,5,6]

In [37]:
sum(lst)

21

#### Pop Method

+ it remove the last element of list

In [38]:
list = [12,23,345,65,7,78]

In [39]:
list.pop()

78

In [40]:
print(list)

[12, 23, 345, 65, 7]

In [41]:
list.pop(2)

345

In [42]:
print(list)

[12, 23, 65, 7]

#### .count( )   method

In [43]:
list = [12,12, 23, 65, 7]
list.count(12)

2

In [44]:
len(list) # it will show the total number of elements present in lsit

5

In [45]:
#index
list.index(12,1,4)#return the index of first occurence 
#start and end index are not necessary parameters

1

### Mean & Max

In [46]:
min(list) #so 7 is the minimum small element in the list

7

In [47]:
max(list) #65 is the max or highest element which is in the list

65